.tabbar {
	position:sticky;
	bottom:0;
	left:0;
	width:100%;
	box-shadow:0 3px 14px 2px rgba(0,0,0,.12);
	ul{
		height:1rem;
		background:#fff;
		display:flex;
		li{
			flex:1;
			a {
				color:#999;
				height:100%;
				display:flex;
				flex-direct:column;
				align-items:center;
				justify-content:center;
				flex-direction:column;
				i {
					display:block;
					width:.4rem;
					height:.4rem;
					margin:0 auto;
					font-size:20px;
				}
				span {
					font-size:0.22rem;
				}
			}
		}
		.active {
			color:pink;
		}
	}
}