.banner {
	height:3.75rem;
	background:#ddd;
	overflow:hidden;
	ul {
		width:200%;
		display:flex;
		li {
			width:100%;
			height:100%;
			a {
				dispaly:block;
				img {
					width:100%;
					height:100%;
				}
			}
		}
	}
}